@import url("https://use.typekit.net/xrq1xxt.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./assets/css/tailwind.css -o ./assets/css/styles.css --watch --minify */


.router-link-active {
    @apply text-black;
}

.aff-img a {
    @apply rounded shadow flex text-center hover:shadow-lg w-[250px] p-1 transition-all;
}
.aff-img a img{
    @apply inline-flex mx-auto my-0;
}

.shop-btn {
    @apply rounded bg-white py-1 px-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}

.art-cite {
    @apply text-sm mt-24 p-2 rounded text-slate-900 bg-slate-50;
}
.art-cite a {
    @apply font-normal underline;
}

#tocNav li a {
    @apply text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block;
}
#tocNav li a.active {
    @apply text-black before:flex before:bg-black font-semibold;
}

.prose h3 a[href*="#"] {
}

.HoverArrow {
    --arrowSpacing: 5px;
    --arrowHoverTransition: 150ms cubic-bezier(0.215,0.61,0.355,1);
    --arrowHoverOffset: translateX(3px);
    --arrowTipTransform: none;
    --arrowLineOpacity: 0;
    position: relative;
    top: 1px;
    margin-left: var(--arrowSpacing);
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;
  }
  .HoverArrow__linePath {
    opacity: var(--arrowLineOpacity);
    transition: opacity var(--hoverTransition,var(--arrowHoverTransition));
  }
  .HoverArrow__tipPath {
    transform: var(--arrowTipTransform);
    transition: transform var(--hoverTransition,var(--arrowHoverTransition));
  }
  a:hover .HoverArrow__linePath, button:hover .HoverArrow__linePath {
    --arrowLineOpacity: 1;
  }
  a:hover .HoverArrow__tipPath, button:hover .HoverArrow__tipPath {
    --arrowTipTransform: var(--arrowHoverOffset);
  }

.card {
    transition: transform .3s;
    position: relative;
}
.card:hover {
    transform: translate(3px,-3px);
}

.card::after {
    background-size: 6px 6px;
    background-position-y: bottom;
    background-image: linear-gradient(135deg,rgba(0,0,0,.5) 15.11%,rgba(255,255,255,0) 15.11%,rgba(255,255,255,0) 50%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 64.11%,rgba(255,255,255,0) 64.11%,rgba(255,255,255,0) 100%);
    transition: transform .3s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;
}
.card:hover::after {
    transform: translate(-10px,10px);
}