@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./assets/css/tailwind.css -o ./assets/css/styles.css --watch --minify */

.router-link-active {
    @apply text-black;
}

.aff-img a {
    @apply rounded shadow flex text-center hover:shadow-lg w-[250px] p-1 transition-all;
}
.aff-img a img{
    @apply inline-flex mx-auto my-0;
}

.shop-btn {
    @apply rounded bg-white py-1 px-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
}

.art-cite {
    @apply text-sm mt-24 p-2 rounded text-slate-900 bg-slate-50;
}
.art-cite a {
    @apply font-normal underline;
}

.prose a[href*="#"] {
    @apply font-bold -mt-24 pt-24 flex;
}